<p-sidebar 
[visible]="true" 
[style]="{ width: '60px' }" 
[modal]="false" 
[dismissible]="false"
[showCloseIcon]="false">
    <ul class="container">
        <li class="tab" routerLink="/" [ngClass]="selected ? 'selected': ''" (click)="optionSelected()">
            <i class="pi pi-home"></i>
        </li>
        <li class="tab" routerLink="/add-new-workout" [ngClass]="!selected ? 'selected': ''" (click)="optionSelected()">
            <i class="pi pi-pencil"></i>
        </li>
    </ul>
</p-sidebar>

